.table_reserved
{
	background-color: red;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}

.table_occupied
{
	background-color: gray;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}

.table_dirty
{
	background-color: black;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}
.table_reserved2
{
	background-color: red;
	color: white;
	text-align: center;
	min-width:5px;
	vertical-align: middle;
	cursor:pointer;
}
.table_block
{
	background-color: orange;
	color: white;
	text-align: center;
	min-width:5px;
	vertical-align: middle;
	cursor:pointer;
}
.table_maintenance
{
	background-color: orange;
	color: white;
	text-align: center;
	min-width:5px;
	vertical-align: middle;
	cursor:pointer;
}
.table_free2
{
	background-color: green;
	color: white;
	text-align: center;
	min-width:5px;
	vertical-align: middle;
	cursor:pointer;
}

.table_done
{
	background-color: red;
	color: white;
	text-align: center;
	min-width:5px;
	vertical-align: middle;
	cursor:pointer;
}
